body {
    font-size: 100%;
    width: 100%;
    background-color: white;
    font-family: HeliosExtThin, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: scroll;
}

a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

/*----------------SHADOWS-------------------------------*/
/*------------------LVL 1----------*/
.rubrics div, .price-block-round:hover, .add-inf-block-head, .text-in-head, #specialCircumstaces:hover, .price-text:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*------------------LVL 2----------*/
#head-nav, .price-block-text, .price-block-round, .price-block, .price-information, .drop-menu, .rubrics a:hover, .add-inf-block, #header, #specialCircumstaces, .price-text {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*------------------LVL 3----------*/
.wrapper-rubrics, .rubrics a, #map iframe, .product-categories {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*----------------NAVIGATION-------------------------------*/
/*-----------------------------------------------*/
#head-nav {
    width: 100%;
    top: 0;
    position: fixed;
    height: 40px;
    display: flex;
    z-index: 2;
    background-color: #3B89C5;

}

.nav-menu {
    margin: 10px auto;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu a {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.nav-menu a:hover {
    color: black;
    width: 100%;
}

.menu-list {
    position: relative;
}

.menu-list::after {
    content: ' ';
    position: absolute;
    border: 5px solid;
    border-color: #ffffff transparent transparent transparent;
    top: 0.65em;
    right: 0.1em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.menu-list:hover::after {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}

.drop-menu {
    position: absolute;
    background-color: #3B89C5;
    border-radius: 2px;
    top: -9999em;
    padding: 0;
    opacity: 0;
    -webkit-transition: 0.5s opacity;
    -moz-transition: 0.5s opacity;
    -o-transition: 0.5s opacity;
    transition: 0.5s opacity;
}

.drop-menu li {
    width: 200px;
    margin: 8px 0 8px 0;
    padding: 0 0 3px 0;
    border-bottom: 1px dotted #DFDFDF;
}

.menu-list:hover .drop-menu {
    opacity: 1;
    top: 100%;
}

/*-----------------------------------------------*/
/*------------Bottom of the main page------------*/

.wrapper-rubrics {
    display: block;
    margin: 2em 0 0 0;
}

.rubrics {
    width: 1200px;
    margin: auto;
    padding: 0 0 2% 0;
}

.rubrics a {
    display: inline-block;
    width: 23%;
    cursor: pointer;
    background-color: #FEFEFE;
    margin: 0 0.5% 0 0.5%;
    position: relative;
    height: 230px;
    border-radius: 2px;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
}

.rubrics img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.rubrics div {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 1.7em;
    position: absolute;
    bottom: 0;
    width: 93%;
    background: #2684A1 url(images/play.png) no-repeat 246px;
    font-weight: 100;
    padding: 5px 0 10px 20px;
}

.add-inf {
    width: 1200px;
    display: block;
    margin: 30px auto 60px;
}

.add-inf-block {
    border-radius: 1%;
    width: 29%;
    margin: 0 2% 0 2%;
    display: inline-table;
    height: 175px;
}

.add-inf-block-head {
    display: block;
    padding: 10px 0 5px 40px;
    font-size: 1.4em;
    font-weight: bold;
    color: #FFFFFF;
    background: #3495DF;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.add-inf-block:hover .add-inf-block-head {
    background: #3B89C5;
}

.add-inf-block-body {
    font-size: 1.1em;
    text-align: justify;
    padding: 6px 10px 8px 0;
    display: block;
    margin-left: 20px;
    font-family: calibri, helvetica, Verdana, sans-serif;
}

/*-----------------------------------------------*/
/*------------UNIT of product-----------*/

.priceTable td {
    padding: 0 5px 0 0;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
.logo {
    display: inline-block;
}

.text-in-head {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    width: 245px;
    margin: 25px 0 0 26px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 0 0 10px;
    font-size: 1.4em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.5s background;
    -moz-transition: 0.5s background;
    -ms-transition: 0.5s background;
    -o-transition: 0.5s background;
    transition: 0.5s background;
}

.text-in-head:hover {
    background: #3B89C5;
}

a:hover {
    color: #328ced;
}

::selection {
    color: #f5f5f5;
    background: #ccc;
}

::-moz-selection {
    color: #f5f5f5;
    background: #ccc;
}

@font-face {
    font-family: HeliosExtThin;
    src: local("HeliosExtThin"),
    url(fonts/HeliosExtThin.otf);
}

#head_search {
    width: 200px;
    float: right;
    margin-top: 6px;
}

.kama_breadcrumbs {
    margin-left: 60px;
    color: #494949;
    font-family: calibri, sans-serif;
    font-weight: normal;
}

.kama_breadcrumbs span a {
    color: #0972AD;
    font-size: 0.8em;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

.kama_breadcrumbs span a:hover {
    text-decoration: underline;
}

#page404 {
    color: #494949;
    font-family: calibri, sans-serif;
    font-weight: normal;
    margin-left: 20px;
}

#page404 p {
    padding: 5px 0 10px 0;
    font-size: 1.3em;
}

#page404contf {
    background: url(images/check.png) no-repeat left 9px;
    margin-left: 75px;
    border-bottom: 22px dotted rgba(99, 99, 99, 0.11);
    padding: 0 0 75px 25px;
    width: 620px;
}

#container {
    min-width: 1200px;
    margin: 0 auto;
    z-index: 1;
    min-height: 800px;
    position: relative;
}

#headbasklink {
    display: inline-block;
    width: 120px;
    padding: 5px 60px 5px 10px;
    background: url(images/basket.png) no-repeat top right;
    background-size: 65px;
    color: #ffffff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

#headbasklink:hover {
    background-position: bottom right;
}

#header {
    width: 100%;
    position: relative;
    background: #3495DF;
}

#head_block_info {
    margin: 40px 0 0 0;
}

#cp_block {
    margin-left: -600px;
    left: 50%;
    display: inline-block;
    width: 1220px;
    padding: 5px 0 10px 10px;
}

.cp_cont {
    margin: 5px 25px 0 0;
    width: 270px;
    padding: 0;
    overflow: hidden;
    min-height: 240px;
    display: block;
    border-left: 1px solid rgb(214, 214, 214);
    border-right: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    float: left;
    list-style: none;
}

.cp_cont li div {
    display: none;
    padding: 10px 5px 0 5px;
    color: #555555;
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    font-size: 1em;
}

.cpc_text {
    font-size: 1.3em !important;
    color: #555555;
    width: 100%;
    cursor: default !important;
    margin: 0 !important;
    border: none !important;
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    text-align: center;
    padding: 5px 0 !important;
    height: 25px;
}

.cpc_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: square outside;
}

.cpc_list li {
    margin: 0 0 5px 5px !important;
    font-size: 0.8em !important;
    padding: 0 !important;
    border: none !important;
}

.cpc_list li a {
    color: #003B63;
}

.cpc_list li a:hover {
    border-bottom: 1px solid gray;
}

.cp_cont li {
    color: rgb(92, 92, 92);
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    cursor: pointer;
    margin: 0 15px 15px;
    font-size: 1.3em;
    border-bottom: 5px dotted #5EB5E6;
    padding: 0 8px 3px;
}

#cp_block_2 {
    width: 1200px;
    margin: 15px auto 0;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.cpb_rev_up {
    position: absolute;
    height: 28px;
    top: 3px;
    left: 3px;
}

.cpb_rev_down {
    position: absolute;
    height: 25px;
    bottom: 3px;
    right: 3px;
}

#cpb_textblock_left {
    position: relative;
    float: left;
    width: 280px;
    margin: 15px 0 20px -25px;
    font-weight: 100;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    color: #636363;
    padding: 25px 48px;
}

#cpb_textblock_left div, #cpb_textblock_right div {
    opacity: 0;
}

#cpb_textblock_right {
    position: relative;
    width: 280px;
    float: right;
    font-weight: 100;
    right: 10px;
    text-align: center;
    margin: 15px 0 20px 0;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    color: #636363;
    padding: 25px 48px;
}

#cpb_textcenter {
    position: relative;
    float: left;
    width: 400px;
    opacity: 0;
    margin-left: 8px;
    padding: 8px 20px;
    min-height: 155px;
}

#cpb_textcenter h3 {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    padding: 6px 0 6px 60px;
    background-size: 40px;
    background: url(images/ask.png) no-repeat 10px;
    color: #2C7794;
    border-bottom: 3px solid #FFF;
}

#cpb_textcenter p {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    color: rgb(70, 70, 70);
    font-size: 1.2em;
    border-bottom: 1px dashed rgb(206, 206, 206);
    text-align: center;
    padding: 5px 20px;
}

#Tp_content {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 450px;
}

#Tpc_header {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    font-size: 1.7em;
    color: #646464;
    padding: 9px 15px 10px 50px;
    max-width: 750px;
    height: 25px;
    border-bottom: 3px solid rgb(90, 138, 223);
}

#Tpc_list {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 15px 5px 5px 60px;
    width: 400px;
    float: left;
    list-style: none;
    display: inline-block;
}

#Tpc_list li {
    background: url(images/check.png) no-repeat left 9px;
    margin-bottom: 10px;
    padding: 5px 10px 15px 25px;
    height: 20px;
}

#Tpc_list li a:hover {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

#Tpc_list li a {
    color: #464646 !important;
}

#Tpc_info {
    width: 600px;
    padding: 15px 0 5px 20px;
    margin-left: 80px;
    display: inline-block;
}

#Tpc_info div p {
    background: url(images/check_3.png) no-repeat 10px 2px;
    text-indent: 35px;
    text-align: justify;
    color: #333;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1em;
    margin-bottom: 5px;
}

#Tpc_info div i {
    text-align: justify;
    color: #333;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 0.8em;
}

#Tpc_info div h4 {
    color: #333;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1em;
    margin-bottom: 5px;
}

#contacts_cont {
    width: 1200px;
    margin: 0 auto;

}

#сс_block1 {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    margin: 10px 40px;
    displaY: block;
}

.cc_block1_table {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-right: 10px solid rgb(3, 169, 244);
    border-left: 10px solid rgb(3, 169, 244);
    border-radius: 3px;
    padding: 0 0 10px 20px;
    font-size: 1.25em;
    margin: 0 auto;
    width: 900px;

}

.cc_block1_table td {
    padding: 0.5em;
    border-bottom: 1px solid rgb(189, 189, 189);
}

#cc_road {
    color: #656565;
    font-weight: bold;
    margin: 0 0 20px 0;
    font-size: 1.6em;
    text-align: center;
    border-bottom: 1px dotted #3B89C5;
}

#cc_block2 {
    margin: 20px 0 0 0;
    display: block;
}

#cc_block2 p {
    color: rgb(92, 92, 92);
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    margin-left: 50px;
    width: 720px;
    font-size: 1.2em;
}

#modalwindow {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.67);
}

#modalwindow div {
    width: 900px;
    position: relative;
    margin: 55px auto;
    height: 624px;
    border-radius: 8px;
    background-color: white;
}

#modalwindow div p {
    padding: 6px 5px 0 800px;
}

#modalwindow div p:hover {
    cursor: pointer;
    font-weight: bold;
    color: #682F03;
    padding-left: 798px;
}

#modwindpre {
    position: absolute;
    left: 50%;
    margin-left: -64px;
    top: 50%;
    margin-top: -64px;
    cursor: pointer;
}

#modwindlod {
    width: 800px;
    display: block;
    margin: 9px auto;
    opacity: 0;
    cursor: pointer;
    border: 12px solid #E6E6E6;
    border-radius: 9px;
}

#hb_info_cont {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

#head_logo {
    height: 90px;
}

#hb_info_cont h1 {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    float: right;
    width: 245px;
    margin: 25px 0;
    color: white;
    display: block;
    padding-left: 10px;
    border-left: 5px dotted rgba(255, 255, 255, 0.96);
    font-size: 1.4em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);

}

#hb_info_telephone {
    display: inline-block;
    width: 455px;
    margin: 0 10px 0 20px;
}

#hb_info_telephone h2 {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 1.6em;
    font-weight: 400;
}

#hb_info_telephone img {
    cursor: pointer;
    float: left;
}

#hb_info_telephone p {
    display: inline-flex;
    color: white;
    margin: 4px 4px;
    font-size: 1em;
    font-weight: 600;
    width: 172px;
}

#head_slider {
    height: 360px;
    width: 100%;
    background: white;
    margin: 46px auto;
    border-top: 1px solid rgba(56, 63, 70, 0.22);
}

#slider_nav {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: -54px;
    font-size: 1.1em;
    font-weight: 100;
    margin-left: -400px;
    height: 30px;
    color: #555555;
    font-family: helvetica, Verdana, sans-serif;
}

#slider_nav li {
    float: left;
    margin-left: 3px;
    height: 27px;
    display: block;
}

#slider_nav li a {
    color: #555555 !important;
}

#snav_point_active {
    background: white;
    padding: 5px 15px;
    border-bottom: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 -2px 2px rgb(204, 204, 204);
    -moz-box-shadow: 0 -2px 2px rgb(204, 204, 204);
    box-shadow: 0 -2px 2px rgb(204, 204, 204);
}

.snav_point_hide {
    padding: 9px 15px 0 15px;
}

#hslide_load {
    display: none;
    position: relative;
}

#slider_cont {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#h_slide {
    position: absolute;
    width: 1200px;
    height: 399px;
    left: 50%;
    overflow: hidden;
    margin-left: -600px;
}

#h_slide img {
    position: absolute;
    display: block;
    left: 50px;
    top: 15px;
    opacity: 0;
}

#h_slide_content {
    position: absolute;
    margin: 0;
    padding: 0;
    right: -900px;
    opacity: 0;
    top: 35px;
    height: 330px;
    width: 735px;
}

.hs_content_list {
    display: block;
    padding: 2px 5px 2px 25px;
    font-size: 1.1em;
    color: #474747;
    margin: 0 5px 20px 69px;
    background: url(images/check.png) no-repeat left 6px;
    border-bottom: 1px solid #E6E6E6;
    font-family: calibri, helvetica, Verdana, sans-serif;
}

#h_slide_content div {
    font-size: 2em;
    color: #2C2B27;
    width: 351px;
    padding: 0 295px 8px 30px;
    font-weight: 500;
    border-left: 8px dotted #F1D57C;
    border-bottom: 8px solid #F1D57C;
    margin: 0 0 12px 50px;
    text-shadow: 0 0 1px #696761;
}

#hs_lineartd {
    border-bottom: 8px dotted #F1D57C;
    position: absolute;
    margin-top: 19px;
    left: -900px;
    opacity: 0;
    height: 0;
    width: 521px;
}

#slider_bottom_info {
    background: #F4F4F4;
    position: relative;
    height: 38px;
    overflow: hidden;
    width: 100%;
}

#slider_bottom_info:after {
    content: "";
    position: absolute;
    width: 1400px;
    height: 30px;
    left: 50%;
    top: -30px;
    margin-left: -700px;
    background: white;
    display: block;
}

#heads_markers {
    width: 365px;
    height: 22px;
    position: relative;
    top: 10px;
    z-index: 5;
    padding: 0;
    opacity: 0;
    margin: 0 auto;
}

#heads_markers li {
    float: left;
    display: block;
    margin-left: 40px;
}

#heads_markers li p {
    height: 12px;
    width: 12px;
    content: "";
    background: white;
    border-radius: 25px;
    border: 3px solid #555;
    -webkit-transition: background 100ms ease-out;
    -moz-transition: background 100ms ease-out;
    -o-transition: background 100ms ease-out;
    transition: background 100ms ease-out;
}

#heads_markers li p:hover {
    background: #949494;
    cursor: pointer;
}

#hs_preloader {
    background: url(images/382.GIF) no-repeat center;
    width: 140px;
    opacity: 0;
    top: 165px;
    left: 50%;
    margin-left: -70px;
    height: 135px;
    position: absolute;
}

#headsm_locked {
    width: 365px;
    height: 33px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -182px;
    z-index: 4;
    padding: 0;
}

#hs_mark_active {
    background: #40abe8;
}

#basketblock {
    min-height: 200px;
    width: 900px;
    position: relative;
    font-family: calibri, helvetica, Verdana, sans-serif;
    border: 1px solid #D5D5D5;
    border-radius: 7px;
    border-left: none;
    color: #454545;
}

#basketblock h4 {
    font-weight: normal;
    font-size: 1.1em;
    padding-left: 10px;
}

.bb_point {
    border: 1px solid #DADADA;
    border-radius: 8px 0 0 8px;
    list-style: none;
    height: 20px;
    padding: 5px;
    margin: 0 0 7px 18px;
}

.bb_point li, #bb_hrow li {
    float: left;
}

.Ppui_headlines {
    text-align: left !important;
    padding-left: 15px;
    width: 250px;
}

#Ppui_tablesize td {
    text-align: center;
    border-right: 1px solid #ddd;
}

#conttpc {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 65px;
}

#tsз_blockt {
    margin: 5px 10px 20px 60px;
    font-family: calibri, helvetica, Verdana, sans-serif !important;
}

#tsз_blockt table {
    width: 750px;
    text-align: center;
}

.ppui_blackHoles {
    margin-bottom: 80px;
}

#tsз_blockt table td {
    border-bottom: 1px solid #ddd;
}

#tsз_blockt p {
    font-weight: bold;
    font-size: 1.25em;
    border-left: 8px solid #F1D57C;
    color: #606060;
    padding-left: 20px;
    margin-top: 10px;
}

#map iframe {
    margin: 0 auto;
    display: block;
}

#footer {
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0;
    -webkit-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #3495DF;

}

#footer_images {
    padding: 12px 0 0 100px;
    width: 120px;
}

#footer_images img {
    padding: 0 10px 0 0;
    float: left;
    cursor: pointer;
}

#footer_text {
    width: 300px;
    margin: 7px auto;
}

#footer_text p {
    text-align: center;
    color: white;
}

#footer_img {
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -594px;
    width: 1200px;
}

/* Страница Конкретной Продукции. Ко всем тегам добавлена "2"
---------------------------------------------------------------------
*/

#dataList {
    list-style: none;
}

#dataList ul li {
    list-style: none;
}

.dataListElementLi {
    border-radius: 1%;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #FDFEFF;
    margin: 5% 0 5% 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.dataListElementLi:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bigHint {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1% 0 0 5%;
}

.red {
    color: rgb(223, 67, 67) !important;
}

.littleHint {
    cursor: pointer;
    font-family: Calibri, Helvetica, Verdana, sans-serif;
    border-top: 1px dotted rgba(32, 32, 32, 0.59);
    font-size: 1.1em;
    color: #333;
    border-radius: 0 4px 0 0;
    padding: 0.8% 0 1% 5%;
}

.Ppu_setmarkcol2 {
    padding: 10px 5px 10px 50px;
    background: white;
    display: flex;
}

.Ppu_setmarkcol2:before, .Ppu_setmarkcol2:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 15px;
}

.Ppu_setmarkcol2:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.Ppu_setmarkcol2 li {
    list-style: none;
    float: left;
    margin-left: 10px;
    z-index: 101;
}

.Ppu_setmarkcol2 li div {
    height: 50px;
    width: 50px;
    border-radius: 30%;
    -moz-box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.78);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.78);
    border: 2px solid #FFFFFF;
}

.Ppu_setmarkcol2 li i {
    font-family: calibri, helvetica, Verdana, sans-serif;
    font-size: 0.8em;
    bottom: 9px;
    display: block;
    text-align: center;
    width: 61px;
    font-style: normal;
    color: #474747;
    margin-top: 7px;
    height: 25px;
    margin-left: -2px;
}

#Ppu_description, #specialCircumstaces {
    padding: 2%;
}

#Ppu_description b {
    font-style: normal;
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 40px;
    background: url(images/check.png) no-repeat 12px 2px;
    font-weight: normal;
    font-family: calibri, helvetica, Verdana, sans-serif;
}

#Ppu_description ul {
    color: #6C6B6B;
    font-size: 1.1em;
    margin: 0 0 10px 0;
}

#Ppu_description ul li {
    list-style-type: initial;
    font-style: normal;
    font-size: 1em;
    text-align: justify;
    font-family: calibri, helvetica, Verdana, sans-serif;
}

.priceTable, .sizeTable {
    padding: 0 0 2% 0;
    font-size: 1.1em;
    font-family: Calibri, Helvetica, Verdana, sans-serif;
}

.priceTable {
    padding-left: 2% !important;
}

.sizeTable table {
    min-width: 100%;
    text-align: center;
}

.sizeTable td {
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 0 0 0 5px;
}

.sizeTableFirstTD {
    width: 30%;
}

#specialCircumstaces, .price-text {
    font-size: 2em;
    font-family: HeliosExtThin, helvetica, sans-serif;
    text-align: center;
    color: white;
    border-radius: 5px;
    background: #3B89C5;
    -webkit-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

#specialCircumstaces:hover, .price-text:hover {
    background: #3495DF;
}

/*
    ---------Products' categories-----------------------------------
*/

.ya-site-form__input-text {
    height: 20px !important;
}

.page-title, .page-description, .woocommerce-result-count, .woocommerce-ordering {
    display: none !important;
}

.products {
    display: inline-block;
    width: 64%;
    vertical-align: top !important;
}

.product-categories {
    font-size: 1.2em;
    font-weight: bold;
    border-left: 10px solid rgb(3, 169, 244);
}

.product-categories > li {
    padding: 2% 0 2% 0;
    border-bottom: 3px solid rgb(89, 136, 221);
}

.product-categories > li:last-child {
    border-bottom: none;
}

.children a {
    color: #596191 !important;
    font-size: inherit;
}

.children > .cat-parent li > a {
    color: #9F7962 !important;
    font-size: 1em;
}

.cat-parent > a {
    color: #3495DF;
    font-size: 1.2em;
    font-family: HeliosExtThin, helvetica, sans-serif;
    /*font-weight: bold;*/
}

#primary-sidebar {
    display: inline-block;
    width: 30%;
}

/*
    ----------------PAGE PRICE---------------
*/

.price-information {
    display: block;
    background: #3391AE;
    border-radius: 2px;
    color: white;
    text-align: center;
}

.price-information-top, .price-information-bottom {
    padding: 10px;
}

.price-information-top {
    font-family: HeliosExtThin, helvetica, sans-serif;
    font-size: 2em;
    border-bottom: 2px solid #FFFFFF;
}

.price-information-bottom {
    font-size: 1.5em;
}

.price-blocks {
    display: block;
}

.price-block {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    margin: 3% 0 0 2.4%;
    background: #25689B;
    padding: 1%;
    border-radius: 4px;
}

.price-block-round {
    color: #333 !important;
    display: block;
    text-align: center;
    border-radius: 100%;
    background: #3495DF;
    height: 295px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.price-block-round:hover {
    color: black !important;
}

.price-block-round i {
    padding: 30% 0 0 0;
    color: white;
}

.price-block-text {
    padding: 30px 25px;
    margin: 20px 0 0 0;
    height: 120px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
    border-radius: 2px;
    background: #3874B3;
    color: #F7F7F7;
}

.fa-7x {
    font-size: 7em !important;
}

/*
    --------------------------------------------------------------------------
*/